div.stage
    div.stage__left.stage__left--selected
        div.stage__left__player-name
        div.stage__left__score
        div.stage__left__current
        div.stage__left__dice
    div.stage__right
        div.stage__right__player-name
        div.stage__right__score
        div.stage__right__current
        div.stage__right__dice
    div.buttons
        div.button__new-game 🔄 New game
        div.button__roll-dice 🎲 Roll dice
        div.button__hold 📥 hold
