div.stage
    div.stage__left.stage__left--selected
        div.stage__left__wrapper
            div.stage__left__top
                div.stage__left__result
                div.stage__left__player-name player 1
                div.stage__left__score 0
            div.stage__left__bottom
                div.stage__left__current-box
                    div.current current
                    div.stage__left__dice 0
    div.stage__right
        div.stage__left__wrapper
            div.stage__right__top
                div.stage__right__result
                div.stage__right__player-name player 2
                div.stage__right__score 0
            div.stage__right__bottom
                div.stage__right__current-box
                    div.current current
                    div.stage__right__dice 0
    div.buttons
        div.buttons-wrapper
            div.button__new-game 🔄 New game
            div.dice.dice--dice1
            div.button__play-button
                div.button__roll-dice 🎲 Roll dice
                div.button__hold 📥 hold
