body {
  background: linear-gradient(-45deg, #763681, #BE2E35);
  height: 100vh;
}


/*Stage*/
.stage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  min-width: 600px;
  max-width: 1000px;
  height: 70vh;
  min-height: 400px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 14px 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.stage__left,
.stage__right {
  background-color: white;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.stage__left {
  border-radius: 0.5em 0 0 0.5em;
}
.stage__right {
  border-radius: 0 0.5em 0.5em 0;
}

.stage__left--selected {
  opacity: 0.7;
}


/* buttons */
.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button__new-game,
.button__roll-dice,
.button__hold {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 45px;
  background-color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 1.5em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}

.button__new-game:hover,
.button__roll-dice:hover,
.button__hold:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.button__new-game:active,
.button__roll-dice:active,
.button__hold:active {
  transform: translateY(5px);
}

.button__new-game {
  margin-bottom: 35vh;
}
.button__roll-dice {
  margin-bottom: 1.5rem;
}
