body {
  background: linear-gradient(-45deg, #763681, #BE2E35);
  height: 100vh;
}


/*Stage*/
.stage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  min-width: 600px;
  max-width: 1000px;
  height: 70vh;
  min-height: 400px;
  max-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 14px 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

.stage__left,
.stage__right {
  background-color: white;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  opacity: 0.4;
}

.stage__left {
  border-radius: 0.5em 0 0 0.5em;
}

.stage__right {
  border-radius: 0 0.5em 0.5em 0;
}


.stage__left__wrapper,
.stage__right__wrapper {
  height: 53vh;
  min-height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}


.stage__left__top,
.stage__right__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.stage__left--selected {
  opacity: 0.7;
  transition: opacity 1.0s ease;
  font-weight: bold;
}

.stage__right--selected {
  transition: opacity 1.0s ease;
  opacity: 0.7;
  font-weight: bold;
}

.stage__left__result,
.stage__right__result {
  height: 40px;
}

.stage__left--win,
.stage__right--win {
  background:#2F2F2F;
  transition: opacity 1.5s ease;
  opacity: 1.0;
}
.stage__left--win {
  .stage__left__player-name{
    color: #C7365F;
  }
  .stage__left__result {
    width: 55px;
    height: 60px;
    background-image: url('./assets/win.png');
  }
}
.stage__right--win {
  .stage__right__player-name{
    color: #C7365F;
  }
  .stage__right__result {
    width: 55px;
    height: 60px;
    background-image: url('./assets/win.png');
  }
}




.stage__left__player-name,
.stage__right__player-name {
  font-size: 2.5rem;
  text-align: center;
  color: #333333;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.stage__left__score,
.stage__right__score {
  font-size: 4rem;
  text-align: center;
  color: #C7365F;
}

.stage__left__current-box,
.stage__right__current-box {
  background: #C7365F;
  width: 180px;
  height: 90px;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  margin: auto;
  margin-bottom: 1rem;
}

.stage__left__dice,
.stage__right__dice {
  font-size: 2.5rem;
}

.stage__left__pig,
.stage__right__pig {
  width: 200px;
  height: 171px;
}

.stage__right__pig--pig1{
  background-image: url('./assets/pig/pig1.png');
}
.stage__right__pig--pig2{
  background-image: url('./assets/pig/pig2.png');
}
.stage__right__pig--pig3{
  background-image: url('./assets/pig/pig3.png');
}
.stage__right__pig--pig4{
  background-image: url('./assets/pig/pig4.png');
}
.stage__right__pig--pig5{
  background-image: url('./assets/pig/pig5.png');
}

.stage__left__pig--pig1{
  background-image: url('./assets/pig/pig1.png');
  transform: scaleX(-1);
}
.stage__left__pig--pig2{
  background-image: url('./assets/pig/pig2.png');
  transform: scaleX(-1);
}
.stage__left__pig--pig3{
  background-image: url('./assets/pig/pig3.png');
  transform: scaleX(-1);
}
.stage__left__pig--pig4{
  background-image: url('./assets/pig/pig4.png');
  transform: scaleX(-1);
}
.stage__left__pig--pig5{
  background-image: url('./assets/pig/pig5.png');
  transform: scaleX(-1);
}



/* buttons */
.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons-wrapper {
  height: 55vh;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button__new-game,
.button__roll-dice,
.button__hold {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 45px;
  background-color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 1.5em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  user-select: none;
  transition: transform 0.2s ease;
}

.button__new-game:hover,
.button__roll-dice:hover,
.button__hold:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.button__new-game:active,
.button__roll-dice:active,
.button__hold:active {
  transform: translateY(5px);
}

.button__new-game {
  margin-top: 1rem;
}

.button__roll-dice {
  margin-bottom: 1rem;
}

.button__hold {
  margin-bottom: 1rem;
}

.dice {
  width: 90px;
  height: 120px;
  background-size: cover;
  background-position: center;
  transform: translateY(0px);
}

.dice--dice1 {
  background-image: url('./assets/red_dice/dice-1.png');
}
.dice--dice2 {
  background-image: url('./assets/red_dice/dice-2.png');
}
.dice--dice3 {
  background-image: url('./assets/red_dice/dice-3.png');
}
.dice--dice4 {
  background-image: url('./assets/red_dice/dice-4.png');
}
.dice--dice5 {
  background-image: url('./assets/red_dice/dice-5.png');
}
.dice--dice6 {
  background-image: url('./assets/red_dice/dice-6.png');
}
